<html>
    <title>Home</title>
    <body>
        <center>
                <br/>
                <h3>Welcome to LMS - Home</h3>

                <h4>Please Select DataSet(csv) to Upload</h4>
                <form action="upload-data-set" enctype="multipart/form-data" method="post">
                    <input name='dataset' type='file'/>
                    <input type='submit' value='Upload DataSet'/>
                </form>

            <br/>

                <h4>Please Select Image to Upload</h4>
                <form action="upload-image" enctype="multipart/form-data" method="post">
                    <input name='image' type='file'/>
                    <input type='submit' value='Upload Image'/>
                </form>

            <br/>

                <h4>Please Fill the details Below:</h4>
                <form action="predict-label" method="post">
                    Feature1: <input name='feature1' placeholder='Enter Petal Length' type='text'/>
                    <br/>
                    Feature2: <input name='feature2' placeholder='Enter Petal Width' type='text'/>
                    <br/>
                    <input type='submit' value='Predict'/>
                </form>
        </center>
    </body>
</html>