<html>
    <title>Register</title>
    <body>
        <center>
                <br/>
                <h3>Welcome to LMS</h3>
                <h4>Please Register with Details Below:</h4>
                <form action="registeruser" method="post">
                    Name: <input name='txtName' placeholder='Enter Your Name' type='text'/>
                    <br/>
                    Email: <input name='txtEmail' placeholder='Enter Your Email' type='text'/>
                    <br/>
                    Password: <input name='txtPassword' placeholder='Enter Your Password' type='password'/>
                    <br/>
                    <input type='submit' value='Register'/>
                </form>
        </center>
    </body>
</html>